<html>

<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="shortcut icon" href="/static/favicon.ico" />
</head>

<body>
    <h1 class="title">{{ title }}</h1>

    <a href="/refresh"><input type="button" value="Refresh" class="mainButton"></a>

    <br>

    <video width="480" height="360" controls>
        <source src="./static/movie.mp4" type="video/mp4">
        <source src="./static/movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
    </video>

    <video width="480" height="360" controls>
        <source src="./static/movie.mp4" type="video/mp4">
        <source src="./static/movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
    </video>

    <video width="480" height="360" controls>
        <source src="./static/movie.mp4" type="video/mp4">
        <source src="./static/movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
    </video>

    <video width="480" height="360" controls>
        <source src="./static/movie.mp4" type="video/mp4">
        <source src="./static/movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
    </video>

    <video width="480" height="360" controls>
        <source src="./static/movie.mp4" type="video/mp4">
        <source src="./static/movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
    </video>

    <video width="480" height="360" controls>
        <source src="./static/movie.mp4" type="video/mp4">
        <source src="./static/movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
    </video>

    <video width="480" height="360" controls>
        <source src="./static/movie.mp4" type="video/mp4">
        <source src="./static/movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
    </video>

    <video width="480" height="360" controls>
        <source src="./static/movie.mp4" type="video/mp4">
        <source src="./static/movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
    </video>

    <video width="480" height="360" controls>
        <source src="./static/movie.mp4" type="video/mp4">
        <source src="./static/movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
    </video>

    <video width="480" height="360" controls>
        <source src="./static/movie.mp4" type="video/mp4">
        <source src="./static/movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
    </video>

    <video width="480" height="360" controls>
        <source src="./static/movie.mp4" type="video/mp4">
        <source src="./static/movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
    </video>

    <video width="480" height="360" controls>
        <source src="./static/movie.mp4" type="video/mp4">
        <source src="./static/movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
    </video>

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="/static/scripts.js"></script>
</body>

</html>